= javascript_include_tag 'pages'

%br
%br
.price-box
  .row
    .col-sm-6
      = form_tag '', class: 'form-horizontal form-pricing', html: {"data-parsley-validate" => "", :novalidate => ""}  do |f|
        .price-slider
          %h4.great Инвестиционный пакет
          %p
            %span Выберите компании для инвестирования
            = select_tag :companies, options_for_select(Company.all.map { |c| [c.name, c.id] }, selected: Company.limit(4).pluck(:id)), { class: 'chosen-select', multiple: true, style: "font-size:18px !important;" }
        .price-slider{style: "margin-bottom:15px"}
          %h4.great Ваш вклад
          %p
            %span Укажите сумму которую вы хотите вложить
          %p= text_field_tag :sum, 100_000, required: "required", id: 'investment_sum', style: "padding-left:10px;font-size:30px;width:230px;"
          %p{style: "padding-top:30px;padding-left:10px;width:50px;"}
            %input#investment_slider{type: "text", 'data-slider-min': "1", 'data-slider-max': "1000000", 'data-slider-step': "100", 'data-slider-value': "100000", 'data-slider-id': 'investment_sum' }
    .col-sm-6
      .price-form
        .form-group
          .row
            .col-sm-6
              %label.control-label{:for => "amount_amirol"} Реалистично:
              %span.help-text#real_percents Годовая доходность
            .col-sm-6
              %input#amount_realistic.price.lead{ :name => "totalprice", :style => "", :type => "text"}
        .form-group
          .row
            .col-sm-6
              %label.control-label{:for => "amount_amirol"} Оптимистично:
              %span.help-text Годовая доходность (30%)
            .col-sm-6
              %input#amount_optimistic.price.lead{:name => "totalprice12", :style => "", :type => "text"}
        %div{:style => "margin-top:30px"}
        %hr.style/
        .form-group
          .col-sm-12
            %button#invest-button.btn.btn-primary.btn-lg.btn-block{:type => "submit"}
              Инвестировать
              &nbsp;
              %span.glyphicon.glyphicon-chevron-right

%input.hide{ name: 'credits', id: 'credits_array', data: { credits: @credits.to_json }}